
.tech-skils,  .soft-skils {
    margin-left: 2%;
}


.tech-skils__heading, 
.soft-skils__heading, 
.education__heading {
    display: flex;
    align-items: right;
    font-size: 20px;
    font-weight: 700;
    margin-top: 90px;
}


.soft-skils__element, 
.education__element, 
.tech-skils__element {
    margin-top: 10px;
    font-size: 16px;
}

// .tech-skils, .soft-skils {
//     margin-left: 330px;
// }

.wrapper {
    display: flex;
    justify-content: center;
}

.education__ul {
    margin-left: 100px;
}