@import "./utils/vars";

.tech-skils,  .soft-skils {
    margin-left: 2%;
}


.tech-skils__heading, 
.soft-skils__heading, 
.education__heading {
    display: flex;
    align-items: right;
    font-size: 20px;
    font-weight: 700;
    margin-top: 90px;
}


.soft-skils__element, 
.education__element, 
.tech-skils__element {
    margin-top: 10px;
    font-size: 16px;
}

.element__padding {
    padding-top: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.education__ul,
.courses__ul {
    margin-left: 100px;
}

.button__cv {
    margin-top: 20px;
    margin-left: 0px;
}

.text__style {
    font-weight: 500;
}

.data__style {
    font-size: 14px;
}


@media only screen and (max-width: 668px) {

    .wrapper {
        display: block;
    }

    .soft-skils, .tech-skils {
        margin-left: 100px;
    }
    
        
    .tech-skils__heading, 
    .soft-skils__heading, 
    .education__heading {
        display: flex;
        align-items: right;
        font-size: 18px;
        font-weight: 700;
        margin-top: 60px;
    }
    
    
    .soft-skils__element, 
    .education__element, 
    .tech-skils__element {
        margin-top: 10px;
        font-size: 14px;
    }

    .data__style {
        font-size: 12px;
    }
}