@import "./utils/vars";


.img-graphic {
    margin-bottom: 90px;
}

.graphic {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}

.graphic__ul {
    margin-left: 250px;
    display: flex;
}

.graphic__heading {
    justify-content: center;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: -240px;
}

.graphic__topic {
    margin-right: 180px;
    font-size: 18px;

    &::after {
        content: "";
    }
}



.graphic__text {
    width: 320px;
    height: 500px;
    margin-left: -190px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
}

